@import url('font.css');

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #1f242e;
  --bs-light-indigo: #393f4c;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #808080;
  --bs-gray-dark: #343a40;
  --bs-white: #f4f6f8;
  --bs-primary: #f6e05e;
  --bs-secondary: #343a40;
  --bs-success: #37bc9b;
  --bs-info: #3bafda;
  --bs-warning: #f6bb42;
  --bs-danger: #e9573f;
  --bs-light: #f4f6f8;
  --bs-dark: #212529;

  --black-background-color: var(--bs-indigo);
  --light-black-background-color: var(--bs-light-indigo);
  --light-background-color: var(--bs-white);

  --font-sawarabi-gothic: 'Sawarabi Gothic', sans-serif;

  font-family: var(--font-sawarabi-gothic);
  line-height: 1.5;
  font-weight: 400;
  display: block;
  margin: 0 auto;

  color-scheme: light dark;
  color: var(--bs-white);
  background-color: var(--light-black-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: visible;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  width: 1000px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
