@import url(../../index.css);

.container {
  color: var(--main-black-color);
  padding: 20px;
  border: 1px solid var(--main-white-color);
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}
