.cardContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
